/* MEDIA QUERY DESKTOP */
:root {
    --ms_navbar-width: 120px;
}


/* COMMON */

/* layout */

/* utilities */

/* HEADER */



/* MAIN */
td img {
    width: 50px;
    height: 50px;
}

/* navbar */

/* FOOTER */
