/* RESET */

img {
    max-width: 100%;
}

:root {
    --ms_bg-color-nav1: hsl(208.09deg 82.46% 11.18%);
    --ms_bg-color-nav2: hsl(210deg 53.66% 16.08%);
    --ms_navbar-width: 40px;
    --ms_header-main-bg: rgb(27 114 232);
    --ms_primary-color: hsl(210deg 16.67% 97.65%);
    
}

/* COMMON */

table * {
    vertical-align: middle;
}

/* layout */

/* utilities */

/* HEADER */

header {
    height: 80px;
    width: 100%;
    /* debug */
    background-color: purple;
}

/* MAIN */
main {
    height: calc(100vh - 80px);
    width: calc(100% - var(--ms_navbar-width));
    /* debug */
    background-color: var(--ms_primary-color)
}

.header-main {
    background-color: var(--ms_header-main-bg) ;
    /* debug */
    min-height: 100px;
}

table {
    font-size: .7rem;
}

td img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

td span {
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: .1rem .4rem;
}


td button {
    border: 1px solid gray;
}


/* navbar */

.navbar {
    background: linear-gradient(45deg, var(--ms_bg-color-nav2) 0%, var(--ms_bg-color-nav2) 70%, var(--ms_bg-color-nav1) 70%, var(--ms_bg-color-nav1) 100%);
    width: var(--ms_navbar-width);
    height: calc(100vh - 80px);
}


/* FOOTER */
