/* RESET */

img {
    max-width: 100%;
}

:root {
    --ms_bg-color-nav1: hsl(208.09deg 82.46% 11.18%);
    --ms_bg-color-nav2: hsl(210deg 53.66% 16.08%);
    --ms_navbar-width: 40px;
    --ms_header-main-bg: rgb(27 114 232);
    --ms_primary-color: hsl(210deg 16.67% 97.65%);
    
}

/* COMMON */

table * {
    vertical-align: middle;
}

.modal {
    height: 1000px;
    overflow-y: auto;
}

.modal-dialog {
    height: 1000px;
    overflow-y: auto;
}


/* layout */

/* utilities */

/* HEADER */

header {
    height: 80px;
    width: 100%;
    /* debug */
}

.navbar-brand {
    width: 150px;
    margin-right: -15px;
    padding: 0;
}

.navbar-brand-mobile {
    width: 60px;
}

.form-control:focus {
    border-color: 0;
    box-shadow: none;
    background-color: rgb(229 229 229);
}

.input-wrapper {
    background-color: rgb(229 229 229 )
}

.ms_form-control {
    background-color: rgb(229 229 229);
}

.fa-bell {
    color: orange;
}

/* MAIN */
main {
    height: calc(100vh - 80px);
    width: calc(100% - var(--ms_navbar-width));
    /* debug */
    background-color: var(--ms_primary-color)
}

.header-main {
    background-color: var(--ms_header-main-bg);
    padding: .5rem;
}

.btn-header-main {
    background-color: rgb(53, 53, 181);
    border-radius: 15px;
    padding: .3rem .4rem;
}

table {
    font-size: .7rem;
}

td img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

td span {
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: .1rem .4rem;
}


td button {
    border: 1px solid gray;
}

/* navbar */

.side-navbar {
    background: linear-gradient(45deg, var(--ms_bg-color-nav2) 0%, var(--ms_bg-color-nav2) 70%, var(--ms_bg-color-nav1) 70%, var(--ms_bg-color-nav1) 100%);
    width: var(--ms_navbar-width);
    height: calc(100vh - 80px);
}

/* FOOTER */
