/* MEDIA QUERY TABLET */

:root {
    --ms_navbar-width: 100px;
}

/* COMMON */

/* layout */

/* utilities */

/* HEADER */



/* MAIN */
td img {
    width: 40px;
    height: 40px;
}

table {
    font-size: 1rem;
}

/* navbar */



/* FOOTER */